.list-table {
    text-align: center;
}

.list-table thead {
    background-color: var(--secondary);
}

.list-table td {
    border-right: 1px solid var(--secondary-dark);
}

.list-table td:last-child {
    border-right: none;
}
